.card-base {
  padding: 0.9375rem;
  border-top: 1px solid #EBEDF2;
  border-bottom: 1px solid #EBEDF2;
  border-left: 1px solid #EBEDF2;
  border-right: 1px solid #EBEDF2;
  border-radius: 0.25rem;
  background-color: #FAFAFA;
  margin-bottom: 1.875rem;
}
